    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="navbar">
            <a class="brand" href="./">Albumizr</a>
            <p class="navbar-text pull-left">Don't worry, Albumizr takes care.</p>
            <ul class="nav pull-right">
              <li class="active"><a href="#">Your albums</a></li>
              <li><a href="#">Sign out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>